<template>
  <div class="InfoPage" @click="resetTimeout">
    <div class="background" :style="{ backgroundImage:'url('+backgroundUrl+')' }"></div>
  </div>
</template>

<script>
  export default {
    name: 'info-page',

    data () {
      return {
        backgroundUrl: `static/${process.env.BACKGROUND_FILE}` || 'static/background.jpg',
        timeoutHandle: null
      }
    },

    mounted () {
      this.setTimeout()
    },

    beforeDestroy () {
      this.cancelTimeout()
    },

    methods: {
      setTimeout () {
        this.timeoutHandle = setTimeout(() => {
          if (process.env.SPLASH_ENABLED === 'TRUE') {
            this.$router.push({ name: 'splash-page' })
          } else {
            console.log('Splash page is disabled.')
          }
        }, parseInt(process.env.TIMEOUT) * 1000)
      },

      cancelTimeout () {
        clearTimeout(this.timeoutHandle)
      },

      resetTimeout () {
        this.cancelTimeout()
        this.setTimeout()
      }
    }
  }
</script>

<style lang="scss">
  .InfoPage {
    .background {
      display: block;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: black;
      background-position: center center;
    }
  }
</style>
