<template>
  <div class="SplashPage">
    <router-link :to="{ name:'info-page' }">
      <video :src="videoUrl" autoplay looped></video>
    </router-link>
  </div>
</template>

<script>
  export default {
    name: 'splash-page',

    data () {
      return {
        videoUrl: `static/${process.env.SPLASH_FILE}` || 'static/splash.mp4'
      }
    },

    created () {
      if (process.env.SPLASH_ENABLED === 'TRUE') {
        // let it do its thing
      } else {
        // otherwise, just reroute back to info page
        this.$router.push({ name: 'info-page' })
      }
    }
  }
</script>

<style lang="scss">
  .SplashPage {
    background-color: black;

    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
</style>
