<template>
  <div id="app">
    <button class="exitApp" @dblclick="exitApp"></button>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'electron-ad',

    data () {
      return {
        confirmExit: false
      }
    },

    methods: {
      exitApp () {
        if (this.confirmExit) {
          console.log('Confirmed!')
          this.$electron.ipcRenderer.send('quit-now')
        } else {
          console.log('Confirm app exit..')
          this.confirmExit = true

          setTimeout(() => {
            this.confirmExit = false
            console.log('Not exiting..')
          }, 5000)
        }
      }
    }
  }
</script>

<style lang="scss">
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
  }

  html, body, #app {
    height: 100%;
  }

  #app > div {
    height: 100%;
    position: relative;
    z-index: 100;
  }

  .exitApp {
    position: fixed;
    top: 0;
    left: 0;
    width: 10vw;
    height: 10vw;
    background-color: transparent;
    border: none;
    z-index: 200;
  }
</style>
